src/main/resources/wsdl/test.wsdl

<wsdl:definitions name="OrderService" targetNamespace="http://www.tango.lu/orderservice"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.tango.lu/orderservice"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.tango.lu/orderservice"
                   elementFormDefault="qualified" targetNamespace="http://www.tango.lu/orderservice" version="1.0">
            <xs:element name="placeOrderRequest">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element ref="tns:order"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="placeOrderResponse">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element ref="tns:orders"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="orders">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element ref="tns:order" maxOccurs="unbounded"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="order">
                <xs:complexType>
                    <xsd:sequence>
                        <xs:element name="id" type="xs:string" minOccurs="0"/>
                        <xs:element name="reference" type="xs:string" minOccurs="0"/>
                        <xs:element name="customerId" type="xs:string"/>
                        <xs:element name="article" type="xs:string"/>
                        <xs:element name="count" type="xs:int"/>
                        <xs:element name="orderDate" type="xs:date" minOccurs="0"/>
                        <xs:element name="amount" type="xs:double" minOccurs="0"/>
                    </xsd:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="placeOrderRequest">
        <wsdl:part name="request" element="tns:placeOrderRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="placeOrderResponse">
        <wsdl:part name="response" element="tns:placeOrderResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="OrderServicePortType">
        <wsdl:operation name="placeOrder">
            <wsdl:input name="placeOrderRequest" message="tns:placeOrderRequest">
            </wsdl:input>
            <wsdl:output name="placeOrderResponse" message="tns:placeOrderResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="OrderServiceSoapBinding" type="tns:OrderServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="placeOrder">
            <soap:operation soapAction="placeOrder" style="document"/>
            <wsdl:input name="placeOrderRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="placeOrderResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="OrderService">
        <wsdl:port name="OrderServicePort" binding="tns:OrderServiceSoapBinding">
            <soap:address location="http://localhost:8080/eap-poc/soap/OrderService"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
